<div class='invite'>
  <h2> Invite More Party Animals!!</h2>
  <%= form_tag invite_path do %>
    <div id="dynamicInput">
      Phone Number<br><input type="text" name="ph_number">
    </div>
    <input type="button" value="+" onClick="addInput('dynamicInput');">
    <%= submit_tag "Invite", class: 'btn btn-primary text-uppercase p-3' %>
  <%end%>
</div>
