<div class='invite'>
  <div class='form-container'>
    <h2>Invite Party Animals to <%= current_party.name + ' Party' if current_party %> !</h2>
    <form id='form'>
      <div id="dynamicInput">
        <p>Phone Number</p><input type="text" name="ph_number" class='phone_input'>
      </div>
      <div class='inner-form'>
        <input type="submit" value="Invite" class='testclass btn btn-primary text-uppercase p-3 color-black'>
      </div>
    </form>
  </div>
</div>
