<div class='invite'>
  <div class='form-container'>
    <h2>Invite Party Animals to <br> <br> <%= current_party.name + ' Party' if current_party %> !</h2>
    <form id='form'>
      <div id="dynamicInput">
        <p>Phone Number</p><br><input type="text" name="ph_number" class='phone_input'>
      </div>
      <div class='inner-form'>
        <input type="submit" value="Invite" class='testclass btn btn-primary text-uppercase p-3 color-black'>
      </div>
    </form>
    <%= button_to 'End Party', party_path(current_party), method: :delete, class: 'btn btn-primary text-uppercase color-black p-3', onclick: "myFunction()", id: 'endParty' if current_party && current_party.admin == current_user %>
    <%= button_to 'Leave Party', party_users_path, method: :delete, class: 'btn btn-primary text-uppercase color-black p-3' if current_party && current_party.admin != current_user %>
  </div>
</div>
