<h1>Welcome to DJSpoti </h1>
<br>
<br>
<br>
<h1>Party: <%= current_party.name if current_party%><h1>
<%=render partial: "users" if @users%>
<%=render partial: "invite" if current_party%>
<%= button_to 'Start A New Party', new_party_path, method: :get unless current_party%>
