<section class='currently-playing text-center'>
  <h3>Currently playing:</h3>
  <img src= <%= current_party.current_song.image %> class="img-thumbnail">
  <p>
    <% if current_party.current_song.artists.count > 1 %>
    <strong>Artists: </strong><%= current_party.current_song.artists.join(" & ")%>
  </p>
  <% else %>
  <p>
    <strong>Artist: </strong><%= current_party.current_song.artists.first %>
  </p>
  <p>
    <strong>Title: </strong> <%= current_party.current_song.name %>
  </p>

  <% end %>

</section>
