 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="black-nav">
   <img src="https://developer.spotify.com/assets/branding-guidelines/icon3@2x.png" width="30" height="30" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="#">DJ Spoti</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <% unless current_user %>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Connect with Spotify', root_path(anchor: 'login-register'), class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to 'About', root_path(anchor: 'about'), class: 'nav-link' %>
      </li>

    </ul>
    <% end %>

    <% if current_user %>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Logout', logout_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to 'About', root_path(anchor: 'about'), class: 'nav-link' %>
      </li>

    </ul>
    <% end %>
  </div>
</nav>
