<nav>
  <% unless current_user %>
    <%= link_to 'Login', root_path(anchor: 'login-register') %>
    <%= link_to 'Register with Spotify', root_path(anchor: 'login-register') %>
    <%= link_to 'About', root_path(anchor: 'about') %>
  <% end %>
</nav>
