 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="black-nav">
   <img src="images/logo.png" class="d-inline-block align-top logo" alt="">
  <%= link_to "DJ Spoti", dashboard_path, class:"navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <button style="background: black" class="btn btn-primary about-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        About
      </button>

    <div class='conditional-right-nav'>
      <div class='conditional-right-nav-inner'>
        <% unless current_user %>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <h5><%= link_to 'CONNECT WITH SPOTIFY', root_path(anchor: 'login-register'), class: 'nav-link' %></h5>
            </li>
          </ul>
        <% end %>
      </div>

      <div class='conditional-right-nav-inner'>
        <% if current_user %>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to 'Logout', logout_path, class: 'nav-link' %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
      </div>
</nav>

    <div class="collapse" id="collapseExample">
      <div class="card card-body" style='background:black;border-radius: 0px'>
        <section class="jumbotron text-center" id="about">
                <div class="container">
                  <h1 class="jumbotron-heading">ABOUT</h1>
                  <br/>
                  <p class="lead text-muted">
                    At parties, there is often one person who ends up being in charge of the music.
                    What if everyone’s preferences could be taken into consideration by simply inviting
                    one’s friends via a text message, from there, the music would then take care of itself.
                  </p>
                  <br/>
                  <p class="lead text-muted">
                    DJ Spoti aggregates the favorite songs of all session party users and cultivates a
                    playlist with all user preferences in mind.
                  </p>
                </div>
        </section>
      </div>
    </div>
