
<section id='about'>
  <p>
    At parties, there is often one person who ends up being in charge of the music.
    What if everyone’s preferences could be taken into consideration by simply inviting
    one’s friends via a text message, from there, the music would then take care of itself.</p>
    <p>
      DJ Spoti aggregates the favorite songs of all session party users and cultivates a
      playlist with all user preferences in mind.
    </p>

</section>

<section id='login-register'>
  <%= button_to "Connect With Spotify", connect_path %>
</section>
