


<section class="jumbotron text-center" id="about">
        <div class="container">
          <h1 class="jumbotron-heading">About</h1>
          <p class="lead text-muted">

            At parties, there is often one person who ends up being in charge of the music.
            What if everyone’s preferences could be taken into consideration by simply inviting
            one’s friends via a text message, from there, the music would then take care of itself.
          </p>

          <p class="lead text-muted">
            DJ Spoti aggregates the favorite songs of all session party users and cultivates a
            playlist with all user preferences in mind.
          </p>
        </div>
</section>



<% if !current_user %>
<section id='login-register'>
  <div class="card border-0" >
    <h2 class="card-title text-center">Login</h2>


  <div class="card-body text-center">
    <p>To login, you first need to connect your Spotify account.
    </p>
    <img class='logo'><img>


    <%= button_to "Connect With Spotify", spotify_omniauth_path, method: :get, class: 'btn btn-primary text-uppercase'%>

  </div>
  </div>
</section>
<% end %>
