<div class='new-party'>
  <div class='form-container text-center'>
    <%=form_for @party, :url =>'/party' do |f| %>
    <h3 class="create-party-invite"> Invite Party Animals</h3>
     <%= f.label :party_name %>
     <div class='inner-form'><%= f.text_field :name %></div>
     <div id="dynamicInput" class='phone-form'>
        <p class='phone-number'>Friend's Phone Number</p><br><input type="text" name="ph_number">
     </div>
     <!-- Button below is not functional and commented out for now. -->
     <!-- <input type="button" value="+" onClick="addInput('dynamicInput');"> -->
     <div class='inner-form'><%= f.submit 'Create Party', class: 'btn btn-primary text-uppercase color-black p-3' %></div>
     <% end %>
  </div>
</div>
