<div class='new-party'>
  <div class='new-party-form text-center'>
    <%=form_for @party, :url =>'/party' do |f| %>
     <%= f.label :name %>
     <div class='inner-form'><%= f.text_field :name %></div>
     <div class='inner-form'><%= f.submit 'Create Party', class: 'btn btn-primary text-uppercase p-3' %></div>
     <% end %>
  </div>
</div>
