@import "nav";
@import "buttons";
@import 'bootstrap';
@import "forms";
@import "typography";
@import "bootstrap";



.test {
  height: 100vh;
  width: 100vw;
  align-self: center;
  background: black;

}

.container {
  position: relative;
  // width: 100%;
  // max-width: 400px;
}

.container img {
  height: 500px;
}

.container .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}

// body {
//   margin-left: 20px;
// }

// '/dashboard'
  .dashboard {
    background-color: black;
    height: 100vh;
  }

  // Invite Section
  .invite {
    background-color: #1DB954;
    height: 100vh;
  }

  // Currently Playing Section
  .currently-playing {
    background-color: black;
    height: 100vh;
    color: white
  }

// '/party/new'
  .new-party {
    background-color: #1DB954;
    height: 100vh;
    color: white;
  }
