@import "nav";
@import "buttons";
@import "forms";
@import "typography";
@import "bootstrap";

body {
  margin-left: 20px;
}

.logo {
  height: 100vh;
  width: 100vw;
  background: "/images/SpinShark.png"
}
