input.color-green {
  background: #1DB954;
}

input.color-black {
  background: #191414;
}

input.btn-primary {
  font-weight: bold !important;
  font-size: 1.5rem !important;
}


.container .btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  // background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}
