.form-container {
  padding-top: 13vh;
}

.inner-form {
  display: block;
  padding: 2vh;
}

//  Invite Form
  #dynamicInput {
    padding-top: 5vh;
    padding-bottom: 6vh;
  }

  .invite-party-animals {
    font-weight: bold;
  }
