$spotifygreen: #1DB954;

.navbar {
  padding-top: 1.5rem !important;
}

#black-nav {
  background-color: black !important;
}

.conditional-right-nav {
  margin-right: 4%;
}

.navbar-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-btn {
    margin-left: 2rem;
  }

.navbar-nav {
  list-style-type: none;
}
