$spotifygreen: #1DB954;


nav.main-nav {
  background-color: #333;
  padding: 5px;
  height: 100%;
  ul {
    list-style-type: none;
    text-align: center;

    li {
      display: inline;
      a {
          color: white;
          padding: 14px;
          &:hover {
         background-color: #111;
       }
      }

    }
  }

}
