body {
  font-family: 'Montserrat', sans-serif !important;
}

h3 {
  font-size: 5rem !important;
}

h4 {
  font-size: 3.3rem !important;
  font-weight: bold !important;
}

label, li {
  font-size: 2rem !important;
}

p {
  font-size: 1.3rem !important;
}

button {
  font-size: 1.8rem !important;
}
